* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

.top-nav {
  margin-top: 1%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #A80F00;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  z-index: 1000; /* Ensures it stays above other content */
}

.logo {
    height: 5rem;
    width: auto;
    margin: 2px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    color: #FFC4C7;
}

.contact-now {
    /* background-color: #F7B733; */
    background-color: #FFC4C7;
    color: black;
}

.contact-now:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.hero-contact-now {
  background-color: #A80F00;
  color:#FFC4C7;
}

.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:fill;
  z-index: -1;
}
.hero-container {
  /* transform: translate(-50%, -50%); */
  margin: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  color: white;
}
.hero-container img {
  max-width: 30vw;
  border-radius: 50%;
}

.hero-heading {
  flex: 1;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.main-heading {
  font-size: 3vw;
}

.sub-heading {
  font-size: 1.5vw;
}

#hero-contact-button {
  font-size: 1.5rem;
  margin-top: 2vh;
  background-color: #FFC4C7;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#hero-contact-button:hover {
  background-color:#A80F00;
  color: white;
}

#border-line {
  padding-top: 1rem;
  background-color: #000;
  border: 1px solid #000;
}
#front-page-background {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#front-page-background {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Sends the background behind everything */
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 20px; /* Space between images */
  position: relative; /* Ensures it stays over the background */
  z-index: 1; /* Brings the grid above the background */
}
.flip-container {
  position: relative;
  width: 45vw;
  height: 200px;
  object-fit: cover;
  perspective: 1000px;
}
.flip-box {
  width: 80%;
  height: 80%;
  /* position: absolute; */
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}
.front, .back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center;
}
.front1 {
  background-image: url('./images/LMS-API.png');
}
.back1 {
  background-image: url('./images/sunrise.jpg');
  transform: rotateY(180deg);
}
.front2 {
  background-image: url('./images/texture_background.jpg');
}
.back2 {
  background-image: url('./images/tyson_bw.jpg');
  transform: rotateY(180deg);
}

.flip-box:hover {
  transform: rotateY(180deg);
}

/* .project-grid img Y
  width: 100%; 
  max-width: 90%; 
  height: auto;
  border-radius: 10px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  margin:5%;
}
.project-grid img:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
} */
