* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
    height: 100%;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }
.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

/* .top-nav {
    /* width: 80%;
    margin: 20px auto;
    background-color: #4ABDAC;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
} */
.top-nav {
  margin-top: 1%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: #4ABDAC;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  z-index: 1000; /* Ensures it stays above other content */
}


.logo {
    height: 5rem;
    width: auto;
    margin: 2px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 10px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

nav a:hover {
    color: #FC4A1A;
}

.contact-now {
    background-color: #F7B733;
    color: white;
}

.contact-now:hover {
    color: white;
    background-color: #FC4A1A
}
.background-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  text-align: center;
  color: white;
}
.hero-container img {
  max-width: 30vw;
  border-radius: 50%;
}

.hero-heading {
  flex: 1;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.main-heading {
  font-size: 3vw;
}

.sub-heading {
  font-size: 1.5vw;
}

#hero-contact-button {
  font-size: 1.5rem;
  margin-top: 2vh;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}